{% extends "base.html" %}

{% block zawartosc %}
<div class="container margines_1em waski">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Serwisiki</h3>
		</div>
		<div class="panel-body">
			





			<ul class="list-group">

				{% for x in service_list %}

				<li class="list-group-item" id="pozycja_{{ x.id}}">
					<div class="row">
						<div class="col-md-7" >

							<a href="{{ x.url }}">{{ x.name }}</a>





						</div>
						{%if x.description or x.service_state %}
						<div class="col-md-1" style="    float: right;">
							<button id="ikona_{{ x.id }}" type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="align: right;"></span>
							</button>
						</div>
						{%endif%}
					</div>
				</li> 


				{%if x.description or x.service_state %}
				<li class="list-group-item ukryty " id="opis_{{ x.id }}">
					<div class="row">
<div class="col-sm-8" id="vertical-center">

{{ x.description}}<br>
						Stan plikow serwice: <Br><br>
						{% for dict in x.service_state %}

							{% for key,value in dict.items %}

								{% if value == "active" %} {{ key }} - OK 
								{% elif value == "failed" %} {{ key }} - Service inactive
								{% elif value == "reloading"  or value == "activating" or value == "deactivating" %} {{ key }} - Service reloading
								{% elif value == "none" %} {{ key }} - Service file not found
								{%endif%}
							<br>

							{% endfor %}
						{% endfor %}
						</div>
					</div>

				</li>

				<script>
					$("#ikona_{{ x.id }}").click(function() {

						$("#opis_{{ x.id }}").toggle("slideUp");

					});
				</script>
				{%endif%} {% endfor %}
			</ul>






		</div>
	</div>
</div>
{% endblock %}