

<ul class="list-group" {%if coto2 == 'edycja2'%}id="sortable"{%endif%}>

{% for x in lista_uslug %}

	<li class="list-group-item" id="pozycja_{{ x.id}}">
		<div class="row">
			<div class="col-sm-8" id="vertical-center" >
				
				{%if x.opis%}
				<span id="ikona_{{ x.id }}" class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>  
				{%endif%}
				<a href="{{ x.adres }}">{{ x.nazwa }}</a>

			</div>
			<div class="col-sm-4 text-right">
				{%if coto2 == 'lista2'%}


					{% if x.activeState == "active" %}
						
						{% include 'komponenty/kontrolka.html' with kolor='btn-success' napis='Started'%}
							


					{% elif x.activeState == "failed" %}
					
						{% include 'komponenty/kontrolka.html' with kolor='btn-danger' napis='Failed'%}
							

					{% elif x.activeState == "reloading" or x.activeState == "activating" or x.activeState == "deactivating" %}
			
						{% include 'komponenty/kontrolka.html' with kolor='btn-warning' napis='Reloading'%}
					
					{% endif %}

				{%endif%}
			</div>
</div>
</li>


{%if x.opis%}
<li class="list-group-item ukryty" id="opis_{{ x.id }}">
	<div class="row">
		{{ x.opis}}
	</div>
</li>

<script>
	$( "#ikona_{{ x.id }}" ).click(function() {

		$( "#opis_{{ x.id }}" ).toggle( "slide" );

	});
</script>
{%endif%}




{% endfor %}
</ul>
{%if coto2 == 'edycja2'%}
<button id="zmien" class="btn btn-lg btn-primary btn-block">zmien</button>
{%endif%}

