<ul class="list-group">
	{% for x in lista_uslug %}
	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-8">
				<a href="{{ x.adres }}">{{ x.nazwa }}</a>
			</div>
			<div class="col-sm-4 text-right">
				<div class="btn-group kontrolki-listy">
				{% if x.activeState == "active" %}
					<button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown" aria-expanded="false">
						Started <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Restart</a></li>
						<li><a href="#">Show log</a></li>
						<li class="divider"></li>
						<li><a href="#">Info</a></li>
					</ul>
				</div>
				{% elif x.activeState == "failed" %}
				<button type="button" class="btn dropdown-toggle btn-danger" data-toggle="dropdown" aria-expanded="false">
						Started <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Restart</a></li>
						<li><a href="#">Show log</a></li>
						<li class="divider"></li>
						<li><a href="#">Info</a></li>
					</ul>
				</div>
				{% elif x.activeState == "reloading" or x.activeState == "activating" or x.activeState == "deactivating" %}
				<button type="button" class="btn dropdown-toggle btn-warning" data-toggle="dropdown" aria-expanded="false">
						Started <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Restart</a></li>
						<li><a href="#">Show log</a></li>
						<li class="divider"></li>
						<li><a href="#">Info</a></li>
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</li>
	{% endfor %}
</ul>